# Toy Process B

Merge two files, ```alpha_norm.csv``` and ```beta.csv``` by concatenating the columns.

In [1]:
import pandas as pd

In [12]:
alpha = pd.read_csv('alpha_norm.csv')
beta = pd.read_csv('beta.csv')
beta.head()

          D         E         F         G         H
0  0.903988  0.966516  0.138845  0.739390  0.589340
1  0.573824  0.047297  0.910284  0.185507  0.037181
2  0.902670  0.746701  0.034802  0.980981  0.634948
3  0.940812  0.999164  0.325257  0.684992  0.966486
4  0.897522  0.929041  0.637654  0.024762  0.853843

In [16]:
common = pd.concat([alpha, beta], axis=1)
common.head()

,A,B,C,D,E,F,G,H
0,0.389217,-0.348779,0.084264,0.903988,0.966516,0.138845,0.739390,0.589340
1,-0.086694,-0.226780,0.112096,0.573824,0.047297,0.910284,0.185507,0.037181
2,-0.207727,0.408283,0.093010,0.902670,0.746701,0.034802,0.980981,0.634948
3,0.105642,0.583417,0.066559,0.940812,0.999164,0.325257,0.684992,0.966486
4,0.046159,-0.141367,0.395775,0.897522,0.929041,0.637654,0.024762,0.853843

In [17]:
common.to_csv('common.csv', index=False)